@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(22.jpg);
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  
}
header
{
    
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid darkorange;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid darkorange;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  float: center;
  width: 100%;
  border: 2px solid darkorange;
  color: white;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
  border-radius: 25px;
  
}
.btn:hover
{
    
    background-color: darkorange;
    transition: all 0s ease-in;
}
.btn1{
    float: right;
    background: none;
    border: 2px solid darkorange;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 12px;
    border-radius: 25px;
}
.btn1:hover
{
    
    background-color: darkorange;
    transition: all 0s ease-in;
}

